<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://converter-service-dotnet-windows.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3c134dbb-2af7-4147-aa34-9f8222af218f/resourceGroups/FilesConversions/providers/Microsoft.Web/sites/converter-service-dotnet-windows</ResourceId>
    <UserName>$converter-service-dotnet-windows</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://converter-service-dotnet-windows.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>